
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  style="margin-top: 5px;" href="/">
      <img src="../icons8-js-48.png" width="50" height="50" class="d-inline-block align-top" style="margin-top: -10px;">
      Index <span class="sr-only">(current)</span>
    </a>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../content/node.html">Node</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../content/npm.html">NPM</a>
        <li class="nav-item">
          <a class="nav-link" href="../content/jquery.html">JQuery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../content/javascript.html">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../content/http.html">HTTP</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../content/spacexApi.html">SpaceX API</a>
        </li>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="../content/javascript.html">Bibben</a>
            <a class="dropdown-item" href="../content/javascript.html">Another action</a>
            <a class="dropdown-item" href="../content/javascript.html">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
